.hea_search{
    display: flex;justify-content: space-around;
    align-content: center;margin: .2rem 0;
}
.search_ide ul {
    margin: 0 1.5em;    margin-right: -1.5em;
}
.search_ide li {
    border-top: 1px solid #d8d8d8;
    padding: 1.5em 0 1.5em;
}
.edit_searchide .search_pic {
    width: 3.5em;
}
.search_pic {
    width: 6.5em;
    overflow: hidden;
}

.edit_searchide .search_pic span {
    display: block;
    width: 3.5em;
    overflow: hidden;
}

.m_img {
    width: 100%;
    height: auto;
    display: block;
}

.img_box {
    border: 1px solid #ddd;
}
.search_ide li dl {
    margin-left: 1.5em;
    margin-top: -0.3em;
}
.search_end dl {
    margin-right: 1.5em;
}

.search_ide li dt {
    line-height: 1.4;
}

.spans {
    display: inlin-block;
    line-height: 1;
}

.spans>b {
    font-size: 1.5em;
    padding-right: .3em;
    vertical-align: middle;
}
.spand{
    font-weight: normal;
    font-size: 1.2em;
    vertical-align: middle;
}
.edit_searchide li dt span {
    color: #999;
}
.m_f_tip{
    color: #999;padding: .7em 0 .8em;
}
.search_ide li dd span {
    font-size: 1.2em;
}
.tdaa>dd{
    margin-top: .4rem;
}
.search_ide li dd span {
    font-size: 1.2em;
}
.tdaa{

}



