.shoop-banner{
    height: 4.3rem;
    width: 100%;
}
.banner-img{
    width: 100%;
    height: 4.3rem;
}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{
    width: .3rem;
    height: .3rem;
    border-radius: 50%;
    margin-left: .3rem !important;
}
.swiper-pagination-bullet-active{
    background: #cccccc !important;
    width: .3rem !important;
}