.shoop-list{
    padding-top: .2rem;
    height: 4rem;
    width: 100%;
    box-sizing: border-box;
    background: #fff;
}
.shoop-list ul {
    width: 100%;
    /* padding: .5rem 1rem; */
}
.shoop-list ul li{
    width: 25%;
    height: 100%;
    float: left;
    text-align: center;

    /* padding-right:.5rem; */
    /* text-align: center; */

}
.shoop-list ul li img{
    display: block;
    width: 100%;
    /* padding-right: .5rem; */
    /* text-align: center; */

}
