.hea_news>ul{
    display: flex;
    align-items: center;
    font-size: .3rem;
    justify-content: space-around;
    background: #1c2635;
    color: #fff;
    margin: 0;
}
.hea_news>ul>div{
    display: flex;
}
.hea_news>ul>div>li{
    width: 1rem;
    height: 1rem;
    text-align: center;
    line-height: 1rem;
}
.active{
    color: #fff;
}

.onelis{
    width: 5.6em;
    height: 1.8em;
    background: url(//static1.mtime.cn/html5/20191122140130/images/2014/logo_mtime.png) no-repeat;
    background-size: contain;
    display: inline-block;
    vertical-align: middle;
}
.icon{
    width: 1.4em;
    height: 1.8em;
    display: inline-block;
    vertical-align: middle;
    background: url(//static1.mtime.cn/html5/20191122140130/images/2014/ico_my.png) no-repeat;
    background-size: cover;
}