.aaa{
    display: flex;
    overflow: auto;
}
.boxx{
    padding: 20px;overflow: hidden;
}

.bbb>img{
    width: 100px;height: 100px;
}
.bbb{margin-left: 10px;}
.ccc{text-align: center; margin-top: 10px;}
.boxx2{
    display: flex;
}
.a{
    width: 50%;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background: red;
}
.b{
    width: 50%;
    height: 30px;
    text-align: center;
    line-height: 30px;
}
.lisss{
    padding: 17px 0;
    margin-left: 12.5px;
}
.lissss{
    display: flex;
    padding-right: 12.5px;
}
.lissss>div{flex: 1 1;margin-left: 20px;}
