.picBox{
    width: 100%;
    height:5rem;
    position: relative;
}
.picBox img{
    width: 100%;
    height: 100%;
}
.picBox span{
    display: block;
    position: absolute;
    bottom: 0;
    background:rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 1rem;
    line-height: 1rem;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: .4rem;
}

.newsList ul{
    padding: 0  .3rem;
    margin-bottom: 0;
}
.newsList ul span{
    display: block;
}
.newsList ul .type1{
    padding: .3rem 0 .1rem;
    border-bottom: .02rem solid #cccccc;
    position: relative;
}
.newsList ul .type1 .title{
    font-size: .36rem;
    font-weight: bold;
    width: 6.5rem;
    color: black;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.newsList ul .type1 .picsBox{
    padding-top: .2rem;
    height: 2.2rem;
    width: 100%;
    display: flex;
}
.newsList ul .type1 .picsBox img{
    float: left;
    margin: 0 .05rem;
    height: 1.5rem;
    width: 2.2rem;
}
.newsList ul .type1 .time{
    position: absolute;
    bottom: .1rem;
    left: 0;
}
.newsList ul .type1 .comment{
    position: absolute;
    bottom: .1rem;
    left: 1.2rem;
    font-size: .27rem;
}
.newsList ul .type2{
    padding: .3rem 0;
    border-bottom: .02rem solid #cccccc;
    height: 2.3rem;
}
.newsList ul .type2 .picBox{
    width: 1.7rem;
    height: 1.7rem;
    border: .01rem solid #cccccc;
    float: left;
}
.newsList ul .type2 .textBox{
    float: right;
    width: 4.6rem;
    position: relative;
    min-height: 1.6rem;
}
.newsList ul .type2 .textBox .title{
    font-size: .36rem;
    font-weight: bold;
    color: black;
}
.newsList ul .type2 .textBox .time{
    position: absolute;
    bottom: 0;
}
.newsList ul .type2 .textBox .comment{
    position: absolute;
    bottom: 0; 
    left: 1.8rem;
    font-size: .27rem;
}
.btnMore{
    width: 100%;
    color: blue;
    text-align: center;
    font-size: .35rem;
    height: .5rem;
    line-height: .5rem;
}